<div>
  <mat-toolbar color="primary">
    <a mat-button class="companyName" color="white" routerLink="/">
      <span>OCEL tool</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a color="white" mat-button routerLink="/logs">Event Logs</a>
      <a color="white" mat-button routerLink="/applying">Apply</a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>