<!-- 
<div id="table">
    <table>
        <th *ngFor="let column of columnsToDisplay">
            {{column}}
        </th>
        <tr *ngFor="let event of eventLog"> 
            <ng-container *ngFor="let column of columnsToDisplay">
            <td>{{event[column]}}</td>
            </ng-container>
        </tr>
    
    </table>
</div> -->
<!-- <ng-container *ngFor="let column of columnsToDisplay">
    <p>{{column}}</p>
  </ng-container> -->
  <section>
    <table mat-table [dataSource]="eventLog" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef> {{column}}</th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</section>