<form>
    <mat-form-field appearance="fill" object.style.width="auto">
        <mat-label>Attribute</mat-label>
        <mat-select [(value)]="rule.attribute" (selectionChange)="changedAttribute()">
            <mat-option *ngFor="let column of columnsToDisplay" [value]="column">
                {{column}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- <ng-container *ngIf="rule.type == 'numeric'"> -->
    <mat-form-field appearance="fill" *ngIf="rule.type" class="select-element">
        <mat-label>is/is not</mat-label>
        <mat-select [(value)]="rule.bool" (selectionChange)="changedInput()">
            <mat-option value="">
                is
            </mat-option>
            <mat-option value="not">
                is not
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="['numeric','timestamp'].includes(rule.type!)" class="select-element">
        <mat-label>Operator</mat-label>
        <mat-select [(value)]="rule.operator" (selectionChange)="changedInput()">
            <mat-option *ngFor="let operator of num_operators" [value]="operator">
                {{operator}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="['categorical','scope','object'].includes(rule.type!)" class="select-element">
        <mat-label>Operator</mat-label>
        <mat-select [(value)]="rule.operator" (selectionChange)="changedInput()">
            <mat-option *ngFor="let operator of cat_operators" [value]="operator">
              {{operator}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="rule.type" class="select-element">
        <mat-label>Compared to</mat-label>
        <mat-select [(value)]="rule.compared" (selectionChange)="changedInput()">
            <mat-option value="all" *ngIf="['categorical','scope','object'].includes(rule.type!)">
                all
            </mat-option>
            <mat-option value='last'>
                last
            </mat-option>
            <mat-option value='first'>
                first
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field
        *ngIf="(['categorical','scope','object'].includes(rule.type!)) && (rule.compared == 'last' || rule.compared =='first')" class="n">
        <mat-label>n</mat-label>
        <input matInput type="text" [(ngModel)]="rule.value" name="input_value" (change)="changedInput()">
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="['categorical','scope','object'].includes(rule.type!)" class="select-element">
        <mat-label>Comparison type</mat-label>
        <mat-select [(value)]="rule.unified" (selectionChange)="changedInput()">
            <mat-option value="unified">
                unified
            </mat-option>
            <mat-option value="each">
                each
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="rule.type == 'numeric' || rule.type == 'timestamp'" class="select-element">
        <mat-label>Value</mat-label>
        <input matInput type="text" [(ngModel)]="rule.value" name="input_value" (change)="changedInput()">
    </mat-form-field>

    <!-- </ng-container> -->

    <button mat-icon-button color="warn" matTooltip="Remove rule" (click)="deleteRule()">
        <mat-icon>remove</mat-icon>
    </button>
</form>