
 <input type="file" accept=".jsonocel, ,.json" class="file-input multiple"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="success" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>
<div class="example-action-buttons" style="padding: 2em 2em">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<div style="padding: 0em 3em;">
  <mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel *ngFor="let log of log_details" (opened)="log.panelOpenState = true"
      (closed)="log.panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{log.name}}
        </mat-panel-title>
        <mat-panel-description>
          Click for {{log.panelOpenState ? 'less' : 'more'}} details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let detail of log.details | keyvalue" lines="3" matTooltip="hello" matTooltipPosition="above">
          <span matListItemTitle>{{detail.key}}</span>
          <span>{{detail.value}}</span>
        </mat-list-item>
        <!-- <mat-divider></mat-divider> -->

      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>
</div>