<!-- <mat-list>
  <button mat-list-item *ngFor="let log of dataSource" (click)="visibility(log)"> {{log.name}}

  </button>
  <mat-list-item *ngFor="let log of dataSource">
    <button mat-icon-button disabled></button>
    <mat-card *ngIf="log.visibility">Number of events: {{log.events}}</mat-card>
  </mat-list-item> -->

<!-- <mat-list-item> Pepper </mat-list-item>
  <mat-list-item> Salt </mat-list-item>
  <mat-list-item *ngIf="true"> Paprika </mat-list-item>
  <button mat-list-item (click)="save()"> 
    save
  </button>
  <mat-list-item>
    <button mat-icon-button disabled></button>
    <mat-card *ngIf="saveVal">Simple card</mat-card>
  </mat-list-item> 
 </mat-list> -->
 <input type="file" accept=".jsonocel, ,.json" class="file-input multiple"
       (change)="onFileSelected($event)" #fileUpload>
<!-- <p>Last uploaded file:</p> -->

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="success" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>
<!-- <app-import></app-import> -->
<div class="example-action-buttons" style="padding: 2em 2em">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<div style="padding: 0em 3em;">
  <mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel *ngFor="let log of log_details" (opened)="log.panelOpenState = true"
      (closed)="log.panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{log.name}}
        </mat-panel-title>
        <mat-panel-description>
          Click for {{log.panelOpenState ? 'less' : 'more'}} details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let detail of log.details | keyvalue" lines="3" matTooltip="hello" matTooltipPosition="above">
          <span matListItemTitle>{{detail.key}}</span>
          <span>{{detail.value}}</span>
        </mat-list-item>
        <!-- <mat-divider></mat-divider> -->

      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>
</div>
<!-- 
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
 
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="events">
      <th mat-header-cell *matHeaderCellDef> No of events </th>
      <td mat-cell *matCellDef="let element"> {{element.events}} </td>
    </ng-container>
  

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->