<mat-form-field appearance="fill">
    <mat-label>Select event log</mat-label>
    <mat-select [(ngModel)]="selectedValue" (selectionChange)="loadNewEventLog($event.value)" >
       <ng-container *ngIf="applyingData">
            <mat-option *ngFor="let log of applyingData" [value]="log.value">
            {{log.value}}
            </mat-option>
        </ng-container>
    </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Select scope column</mat-label>
    <mat-select>
        <ng-container *ngIf="applyingData">
            <ng-container *ngFor="let log of applyingData">
                <!-- <p>{{log.value}}</p> -->
                <ng-container *ngIf="log.value == selectedValue">
                    <mat-option *ngFor="let scope of log.scopes" [value]="scope">
                        {{scope}}
                    </mat-option>
                </ng-container>
            </ng-container>
        </ng-container>
    </mat-select>
    </mat-form-field>
    <ng-container *ngIf="eventLog">
        <p>{{eventLog[0]["ocel:activity"]}}</p>
        
    </ng-container>
<mat-tab-group>
    <mat-tab label="Selection Function"> Content 1 
        <ng-container *ngIf="eventLog" >
            <table mat-table [dataSource]="eventLog">
                <ng-container matColumnDef="activity">
                    <th mat-header-cell *matHeaderCellDef> Activity </th>
                    <td mat-cell *matCellDef="let event"> {{event["ocel:activity"]}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
            </table>
        </ng-container>
        <div class="pad-top">
            <button mat-raised-button color="primary">Apply</button>

        </div>
    </mat-tab>
    <mat-tab label="Aggregation"> Content 2 
        <div class="pad-top">
            <button mat-raised-button color="primary">Apply</button>

        </div>
    </mat-tab>
    <mat-tab label="Relabeling function"> Content 3 
        <div class="pad-top">
            <button mat-raised-button color="primary">Apply</button>

        </div>
    </mat-tab>

</mat-tab-group>
<div class="pad-top">
<button mat-raised-button color="success">Save</button>
</div>


