<mat-form-field appearance="fill">
    <mat-label>Select event log</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let food of dataSource" [value]="food.position">
        {{food.name}}
        </mat-option>
    </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Select scope column</mat-label>
    <mat-select >
        <mat-option value="option1">Scope 1</mat-option>
    </mat-select>
    </mat-form-field>

<mat-tab-group>
    <mat-tab label="Selection Function"> Content 1 
        <div class="pad-top">
            <button mat-raised-button color="primary">Apply</button>

        </div>
    </mat-tab>
    <mat-tab label="Aggregation"> Content 2 
        <div class="pad-top">
            <button mat-raised-button color="primary">Apply</button>

        </div>
    </mat-tab>
    <mat-tab label="Relabeling function"> Content 3 
        <div class="pad-top">
            <button mat-raised-button color="primary">Apply</button>

        </div>
    </mat-tab>

</mat-tab-group>
<div class="pad-top">
<button mat-raised-button color="success">Save</button>
</div>
