.pad-y{
    padding-top:25px;
    margin-bottom: 20px;
}
.mat-success {
    background-color: green;
    color: #fff;
}

.mat-black{
    color:black;
}

/* .mat-mdc-slider {
    height: 250px;
  } */

.center{
    text-align: center;
    align-content: center;
}

.grid{
    display: grid;
    grid-template-columns: 20% 80%;
}

.tab-group{
    margin: 2%;
}

.table{
    overflow-x: auto;
}
