.pad-top-30{
    padding-top:30px;
}

.pad-y{
    padding-top: 15px;
    margin-bottom: 30px;
}

.mat-success {
    background-color: green;
    color: #fff;
}

.mat-black{
    color:black;
}

.center{
    text-align: center;
    align-content: center;
}

.grid{
    display: grid;
    grid-template-columns: 20% 80%;
}

.tab-group{
    margin: 2%;
}

.table{
    overflow-x: auto;
}
