<mat-form-field appearance="fill">
    <mat-label>Select event log</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="log">
        <mat-option *ngFor="let log of applyingData.event_logs" [value]="log">
        {{log}}
        </mat-option>
    </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Select scope column</mat-label>
    <mat-select >
        <mat-option *ngFor="let scope of applyingData.scopes" [value]="scope">
            {{scope}}
        </mat-option>
    </mat-select>
    </mat-form-field>

<mat-tab-group>
    <mat-tab label="Selection Function"> Content 1 
        <ng-container *ngIf="applyingData" >{{applyingData.hithere}}</ng-container>
        <div class="pad-top">
            <button mat-raised-button color="primary">Apply</button>

        </div>
    </mat-tab>
    <mat-tab label="Aggregation"> Content 2 
        <div class="pad-top">
            <button mat-raised-button color="primary">Apply</button>

        </div>
    </mat-tab>
    <mat-tab label="Relabeling function"> Content 3 
        <div class="pad-top">
            <button mat-raised-button color="primary">Apply</button>

        </div>
    </mat-tab>

</mat-tab-group>
<div class="pad-top">
<button mat-raised-button color="success">Save</button>
</div>
