<!-- <input type="file" class="file-upload" onchange="console.log(event.target.files)">
<button mat-flat-button color="primary">Upload</button> -->
<input type="file" accept=".jsonocel, ,.json" class="file-input multiple"
       (change)="onFileSelected($event)" #fileUpload>
<!-- <p>Last uploaded file:</p> -->

<div class="file-upload">

   <!-- {{fileName || "No file uploaded yet."}} -->

    <button mat-mini-fab color="success" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>cloud_upload</mat-icon>
    </button>
</div>

